:root{
    --open-sans:"Open Sans", serif;
    --nunito-sans:"Nunito Sans", serif;

    --accent-light: #FBB731;
    --accent-dark: #F37335;
    --dark: #443737;
    --light: #FFFFFF;
    --tr:.2s;
}

body{
    font-family: var(--open-sans);
}
.container{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

/* header */

.header {
    border-bottom: 1px solid #DEDEDE;
    
}
.header-wrapper{
    display: flex;
    align-items: center;
    gap: 56px;
    padding-top: 26px;
    padding-bottom: 26px;
}
.burger-menu {
    display: none;
    width: 34px;   
    height: 22px;
    background-image: url(../images/Menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;


}
.logo{
    display: block;
    width: 176px;
    height: 56px;
    background-image: url(../images/Logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.nav{
    flex-grow: 1;
    display: flex;
    gap: 47px;
    margin-left: min(10vw, 140px);
}
.nav-link{
    color: var(--dark);
    transition: var(--tr);
    font-size: 20px;
    font-weight: 600;

}

.nav-link::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 1px;
}
.nav-link:hover::after{
    background-color: var(--accent-light);
}
.cart{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--dark);
    font-size: 15px;
    font-weight: 700;
    position: relative;
}
.cart::before {
    content: '';
    display: block;
    width: 30px;
    height: 26px;
    background-image: url(../images/shopping-cart.svg);
    background-repeat: no-repeat;
    background-size:contain;
}
.cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    font-size: 10px;
    color: var(--accent-light);
    background-color: var(--accent-dark);
    border-radius: 100% ;
    position: absolute;
    left: 17px;
    bottom: 0;
}

.button-up {
   
    font-family: var(--nunito-sans);
    font-weight: 700;
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--accent-light);
    color: var(--dark);
    max-width: 100px;
    border: none;
    padding: 5px 10px;
    transition: var(--tr);
    border-radius: 5px;
}
.button-up:hover {
    background-color: var(--accent-dark);
}
.button-up.hidden {
    opacity: 0;
}
.button-up.visible {
    opacity: 1;
}


/* Hero */

.hero {
    background-image: url(../images/hero.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 142px;
    padding-bottom: 142px;
}
.hero-contact {
    background-image: url(../images/hero-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 142px;
    padding-bottom: 142px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    padding-left: 0;
    color:rgba(255,255,255, .5);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    
}
.breadcrumbs-item {
    position: relative;
}
.breadcrumbs-item:not(:last-child)::after{
    content: '/';
    position: absolute;
    right: -12px;

}
.breadcrumbs-link {
    color:rgba(255,255,255, .5)
}
.breadcrumbs-link:hover {
    color: var(--accent-light);
}
.hero-title {
    font-family: var(--nunito-sans);
    font-weight: 700;
    font-size: 79px;
    color: var(--light);
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 18px;
    
}
.hero-description {
    font-family: var(--nunito-sans);
    font-weight: 400;
    margin: 0 auto;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    max-width: 320px;
    
}
/* banner */
.banner {
    margin-top: 140px;
    
    
}
.banner-wrapper {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    
}
.banner-title {
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 60px;
    font-weight: 900;
    line-height: 126%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 11px;
}
.banner-title span {
    display: block;
    background-color: var(--accent-dark);
    font-family: var(--open-sans);
    line-height: 129%;
    font-weight: 600;
    max-width: 95px;
    text-align: center;
    border-radius: 14px;
    font-size: 14px;
    line-height: 129%;
    padding: 5px 0;
    margin-bottom: 4px;
    
}

.banner-description {
    font-family: var(--nunito-sans);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.8);
    max-width: 323px;
    margin-top: 0;
    margin-bottom: 13px;
    font-style: normal;
    
}
.banner-btn {
    display: block;
    font-family: var(--nunito-sans);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--accent-light);
    color: var(--dark);
    max-width: 170px;
    border: none;
    padding: 22px 0;
    transition: var(--tr);
    border-radius: 5px;
}
.banner-btn:hover {
    background-color: var(--accent-dark);
}

/*menu*/

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 34px;
}

.menu-title {
    margin-top: 0;
    font-family: var(--nunito-sans);
    margin-bottom: 0;
    font-weight: 700;
    font-size: 44px;
    line-height: 127%;
    text-transform: uppercase;
    color: var(--dark);
}
.menu-select {
    color: var(--dark);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    appearance: none;
    flex-basis: 279px;
    border-radius: 22px;
    border: 1px solid #DEDEDE;
    background-image: url(../images/chevron-down.svg);
    background-repeat: no-repeat;
    background-size: 14px 10px;
    background-position: 89% center;
    padding: 13px 30px;
}
.menu-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px 20px;
    
}
.menu-item {
    font-family:  var(--nunito-sans);
    text-align: center;
}
.menu-thumb {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    
}
.menu-thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.menu-name {
    font-weight: 600;
    font-size: 30px;
    line-height: 127%;
    text-align: center;
    color: var(--dark);
    margin-top: 0;
    margin-bottom: 10px;
}
.menu-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: rgba(68, 55, 55, 0.5);
    margin-top: 0;
    margin-bottom: 10px;
}
.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    border: none;
    padding: 11px 32px;
    background-color: var(--accent-light);
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--dark);
    transition: var(--tr);
}
.menu-btn:hover {
    background-color: var(--accent-dark);
}
.menu-btn::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-size:contain;
}

/*footer*/


.footer {
    background-color: #1E2F40;
    padding-top: 110px;
    padding-bottom: 120px;
    margin-top: 140px;

}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    gap:15px ;

}
.footer-logo {
    display: block;
    width: 63px;
    height: 56px;
    background-image: url(../images/logo-black.svg);
    background-repeat: no-repeat;
    background-size: contain;;
    
}
.footer-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 190%;
    text-transform: uppercase;
    color: var(--light);
    font-family: var(--nunito-sans);
    margin-top: 0;
    margin-bottom: 13px;
    }
.footer-nav  {
    display: flex;
    flex-direction: column;
    gap: 9px;

}
.footer-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.9);
    transition: var(--tr);
}
.footer-link:hover {
    color: var(--accent-light);
}
.footer-list  {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    
}
.footer-list-item {
    font-weight: 700;
    font-size: 15px;
    line-height: 160%;
    color: #fff;
    list-style-type: none;
}
.footer-list-item span {
    display: block;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
}
.footer-item:last-child {
    flex-basis: 194px;
}
.footer-phone{
    display: block;
    font-weight: 800;
    font-size: 20px;
    line-height: 190%;
    text-align: right;
    text-transform: uppercase;
    color: var(--accent-light);
    font-family: var(--nunito-sans);
    margin-top: 12px;
    transition: var(--tr);
}
.footer-phone._mobile {
    display: none;
    
}
.footer-phone:hover {
    color: var(--light);
}
.footer-list-item:not(:last-child) {
    margin-bottom: 14px;
}
/*Conracts*/
.contact-main {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1057px;
    margin: 140px auto 60px;
}


.contact-map {
    flex-basis: 680px;
}


.contact-adress {
    flex-basis: calc(100% - 680px - 20px);
    list-style-type: none;
    padding-left: 0;
}


.contact-adress > li:not(:last-child) {
    margin-bottom: 26px;
}


.contact-adress > li > span {
    display: block;
    font-size: 15px;
    line-height: 160%;
}


.contact-adress > li > span:first-child {
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 190%;
    text-transform: uppercase;
    margin-left: 3px;
    margin-bottom: 4px;
}


.contact-adress > li > span:last-child {
    font-weight: 700;
    margin-top: 10px;
}


.contact-additionally {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1057px;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
}


.contact-additionally > li {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}


.contact-additionally > li::before {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}


.contact-additionally > li:nth-child(1):before {
    background-image: url(../images/01-contact.svg);
}
.contact-additionally > li:nth-child(2):before {
    background-image: url(../images/02-contact.svg);
}
.contact-additionally > li:nth-child(3):before {
    background-image: url(../images/03-contact.svg);
}


.contact-info,
.contact-tel {
    display: block;
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 5px;
}


.contact-tel {
    transition: var(--tr);
}


.contact-tel:hover {
    color: var(--accent-light);
}

/*Media*/

@media (max-width:1080px ) {
    .header-wrapper {
        gap: 48px;
    }
    .nav {
        margin-left: 0;
        gap: min(3vw, 30px);
    }
}
@media (max-width: 768px) {
    .logo {
        width: 158px;
        height: 47.81px;
    }
    .header-wrapper {
        gap: 45px
    }
    .nav {
        gap: 22px;
    }
    .banner {
        margin-top: 72px;
    }
    .banner-wrapper {
        padding: 100px 40px; 
    }
    .menu-header {
        margin-top: 80px;
    }
    .menu-box {
        grid-template-columns: repeat(2, 1fr);
    }
    .menu-box._additionaly {
        grid-template-columns: 1fr ;
    }
    .menu-item._additionaly {
        display: flex;
        align-items: center;
        gap: 20px;
        
    }
    .menu-item._additionaly .menu-thumb {
        flex-basis: (60% - 20px);
        height: 260px;
        position: relative;
        overflow: hidden;
        margin-bottom: 0;
    }
    .menu-item._additionaly .menu-thumb .menu-info {
        flex-basis: 40%;
    }
    .footer {
        padding-top: 62px;
        padding-bottom: 71px;
    }
    .footer-nav {
        margin-bottom: 20px;
    }
    .footer-item:last-child {
        display: none;
    }
    .footer-phone._mobile {
        display: block;
        text-align: left;
    }
}

@media (max-width: 730px ) {
    .nav {
        display: none;
    }
    .nav._modal {
        display: flex;
        flex-direction: column;
    }
    .nav-link::after {
        display: none;
    }
    .modal {
        width: 100%;
        max-width: 500px;
        background-color: #FFF8DC;
        padding: 40px 15px;
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        margin: 0 auto;
        box-sizing: border-box;
        text-align: center;
        transition: var(--tr);
    }
    .header-wrapper {
        gap: 21px;
        padding-top: 19px;
        padding-bottom: 19px;
    }
    .burger-menu {
        display: block;
       
    }
    .logo {
        width: 116px;
        height: 37px;
        flex-grow: 1;
    }
    .modal-close {
        display: block;
        width: 22px;
        height: 22px;
        background-image: url(../images/close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .hero {
        padding-top: 63px;
        padding-bottom: 62px;
    }
    .hero-title {
        font-size: 38px;
    }
    .hero-description {
        font-size: 12px;
    }
    .banner {
        margin-top: 33px;
    }
    .banner-description {
        font-size: 14px;
    }
    .banner-btn {
        max-width: 196px;
    }
    .menu-header {
        margin-top: 58px;
        margin-bottom: 38px;
    }
    .menu-title {
        font-size: 27px;
    }
    .menu-select {
        font-size: 12px;
        flex-basis: 136px;
        background-position: 93% center;
        width: 136px;
        padding: 13px 15px;
    }
    .menu-box {
        gap: 24px 20px;
    }
    .menu-thumb {
        margin-bottom: 10px;
        height: 50vw;
    }
    .menu-item._additionaly .menu-thumb {
        height: 30vw;
    }
    .menu-name {
        font-size: 13px;
        margin-bottom: 8px;
    }
    .menu-price {
        font-size: 12px;
        margin-bottom: 14px;
    }
    .menu-btn {
        padding: 11px 22px;
    }
    .footer {
        margin-top: 80px;
    }
    .footer-wrapper {
        flex-direction: column;
        gap: 33px;
        position: relative;
    }
    .footer-logo {
        margin-bottom: 9px;
    }
    .footer-phone._mobile {
        position: absolute;
        top: -12px;
        right: 0;
    }
    .footer-phone._mobile + .footer-phone._mobile {
        top: 24px;
    }
    .footer-title {
        font-size: 18px;
    }
    .footer-nav {
        margin-bottom: 0 ;
    }

}
@media(max-width: 450px) {
    .menu-item._additionaly .menu-thumb {
        flex-basis: calc(100% - 130px - 20px);
        height: 38vw;
    }
    .menu-item._additionaly .menu-info {
        flex-basis:130px ;
    }
}

